.root{
    -fx-background-image: url("/pictures/Star-Wars-The-Force-Awakens.jpg");
    -fx-background-size: cover;
}

.button{
    -fx-font-size: 20;
    -fx-text-fill: white;
    -fx-border-radius: 20;
    -fx-background-color: linear-gradient(#777777 0%, #ff4455 100%);
    -fx-border-color: white;
    -fx-border-width: 2;
    -fx-background-radius: 20;
}

.button:hover{
    -fx-font-size: 22;
    -fx-background-color: #ff4455;
}

.label{
    -fx-font-size: 20;
    -fx-text-fill: linear-gradient(white 0%, #ff4455 100%);
}

.text-field{
    -fx-font-size: 20;
    -fx-min-width: 400;
}

